@import "assets/styles/common.scss";
.library-detail {
  padding: 20vh 10vw 48px 10vw;
  position: relative;
  overflow: hidden;
  &::before {
    content: "";
    position: absolute;
    width: 44vw;
    height: 30vw;
    background-color: $red-light;
    transform: rotate(45deg);
    top: -36vh;
    left: -56vh;
  }
  &::after {
    content: "";
    position: absolute;
    width: 40vw;
    height: 30vw;
    background-color: #FF575F;
    transform: rotate(45deg);
    top: -40vh;
    right: 0;
    z-index: -1;
  }
  h2 {
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 40px;
    color: $gray-primary;
  }
  .library-container {
    display: flex;
    position: relative;
    .references {
      width: 30%;
      padding-left: 32px;
      position: absolute;
      top: 0;
      right: 0;
      box-sizing: border-box;
      h3 {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 8px;
      }
    }
    a.hyperlink {
      display: block;
      margin-top: 12px;
      font-style: italic;
      font-weight: bold;
    }
  }
  &__list {
    width: 70%;
    list-style: none;
  }
  &__item {
    + li {
      margin-top: 16px
    }
    padding: 12px 24px;
    border: 2px solid transparent;
    border-radius: 20px;
    background-color: $red-bean;
    transition: .6s;
    .question {
      color: white;
      display: flex;
      justify-content: space-between;
      align-items: center;
      span {
        cursor: pointer;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: white;
        color: $red-bean;
        transition: .4s;
        @include flex-center;
      }
      &-close {
        display: none!important;
      }
    }
    .answer {
      display: none;
      height: 0;
      margin-top: 8px;
      border-radius: 20px;
      line-height: 1.4;
      font-size: 14px;
      p {
        line-height: 1.6;
      }
    }
    &:global(.show) {
      border-color: $gray-mercury;
      color: $gray-pastel;
      background-color: white;
      .question {
        color: $gray-primary;
        span {
          border: 2px solid $red-misty;
          background-color: $red-bean;
          transition: .4s;
          color: white;
        }
        font-weight: bold;
        &-open {
          display: none;
        }
        &-close {
          display: flex!important;
        }
      }
      .answer {
        display: block;
        height: fit-content;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .library-detail {
    padding: 12vh 4vw 40px 4vw;
    h2 {
      text-align: center;
      font-weight: bold;
      font-size: 32px;
      margin-bottom: 20px;
      color: $gray-primary;
    }
    .library-container {
      flex-direction: column-reverse;
      .references {
        width: 100%;
        position: initial;
        margin-bottom: 20px;
        padding: 0;
      }
    }
    &__list {
      width: 100%;
    }
  }
}