.projects {
  padding-top: calc(73px + 10vh);

  &__title {
    text-align: center;
    font-size: 40px;
    font-weight: 700;
  }

  &__type {
    display: flex;
    justify-content: space-around;
    margin: 40px 0;
  }

  &__list {
    margin-bottom: 32px;

    ul {
      display: flex;
      list-style: none;
      justify-content: space-around;

      .project {
        width: 25%;
        padding: 20px;
        box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
        border-radius: 16px;
        transition: 1s;

        &__image {
          width: 100%;

          img {
            width: 100%;
            cursor: pointer;
          }
        }

        &__title {
          margin-top: 12px;
          text-align: center;
          font-size: 18px;
          font-weight: bold;
          cursor: pointer;
        }

        &:hover {
          transition: 1s;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
        }
      }
    }
  }
}