@import "assets/styles/_common.scss";

.categories {
  margin-top: 80px;
  margin-bottom: 48px;
  h2 {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 80px;
    text-align: center;
  }
  ul {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    li {
      background-color: $red-bean;
      width: 180px;
      height: 100px;
      border-radius: 28px;
      cursor: pointer;
      transition: .6s;
      border: 2px solid transparent;

      &.category {
        position: relative;
        box-shadow: $box-shadow;
        @include flex-center;

        .category-icon {
          width: 62px;
          height: 62px;
          background-color: white;
          border: 10px solid white;
          position: absolute;
          top: -50%;
          right: 50%;
          transform: translateX(50%);
          border-radius: 50%;

          img {
            width: 100%;
            height: 100%;

            &.rotate {
              @include animation-wheel;
            }
          }
        }

        span {
          font-size: 20px;
          color: white;
          font-weight: bold;
          transition: .6s;
        }
      }
      &:hover {
        background-color: white;
        border: 2px solid $red-coral;
        transition: .6s;
        span {
          color: $red-bean;
          transition: .6s;
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .categories {
    ul {
      padding: 0 12px;
      li {
        width: calc(100% / 2 - 24px);
        margin-bottom: 48px;
        height: 92px;
        &.category {
          .category-icon {
            width: 52px;
            height: 52px;
            border-width: 8px;
          }
        }
      }
    }
  }
}