@import "assets/styles/_common.scss";

.categories {
  position: relative;
  padding: 20vh 10% 48px 10%;
  h2 {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 80px;
    text-align: center;
  }
  ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .category {
    background-color: $red-bean;
    width: 180px;
    height: 100px;
    border-radius: 28px;
    cursor: pointer;
    transition: 0.6s;
    border: 2px solid transparent;
    position: relative;
    box-shadow: $box-shadow;
    @include flex-center;
    margin: 0 24px 48px 24px;

    .category-icon {
      width: 62px;
      height: 62px;
      background-color: white;
      border: 10px solid white;
      position: absolute;
      top: -50%;
      right: 50%;
      transform: translateX(50%);
      border-radius: 50%;
      transition: 0.8s;
      -webkit-transition: 0.8s;
      -moz-transition: 0.8s;
      -ms-transition: 0.8s;
      -o-transition: 0.8s;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50%;

        &.rotate {
          @include animation-wheel;
        }
      }
    }
    &:hover {
      background-color: white;
      border: 2px solid $red-coral;
      transition: 0.6s;
      .category-icon {
        border-width: 2px;
        transition: 0.8s;
        -webkit-transition: 0.8s;
        -moz-transition: 0.8s;
        -ms-transition: 0.8s;
        -o-transition: 0.8s;
      }

      span {
        color: $red-bean;
        transition: 0.6s;
      }
    }
    span {
      font-size: 20px;
      color: white;
      font-weight: bold;
      transition: 0.6s;
    }
  }
  p {
    text-align: center;
    margin-top: 20px;
    cursor: pointer;
    color: $red-coral;
    &:hover {
      text-decoration: underline;
    }
  }
}

@media screen and (max-width: 767px) {
  .categories {
    padding: 12vh 8vw 40px 8vw;
    h2 {
      font-size: 32px;
      margin-bottom: 80px;
    }
    ul {
      padding: 0 12px;
      li {
        width: calc(100% / 2 - 24px);
        margin-bottom: 48px;
        height: 92px;
        &.category {
          .category-icon {
            width: 52px;
            height: 52px;
            border-width: 8px;
          }
        }
      }
    }
  }
}
