@import "assets/styles/common.scss";

.btn {
  background-color: $red-coral;
  color: white;
  font-weight: bold;
  border: 1px solid transparent;
  border-radius: 20px;
  padding: 12px 36px;
  cursor: pointer;
  transition: .4s;
  &:hover {
    border-color: $red-coral;
    color: $red-coral;
    background-color: white;
    transition: .4s;
  }
  &:active {
    transform: translateY(4px);
    background-color: $red-misty;
  }
}