@import "assets/styles/_common.scss";

.home {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  position: relative;

  &__cv {
    margin-top: 20px;
    text-align: center;
  }

  &::before {
    content: "";
    position: absolute;
    top: -25vh;
    left: -40vh;
    height: 100vh;
    width: 100vh;
    border-radius: 50%;
    background-color: rgb(161, 52, 52);
    z-index: -2;
  }

  &::after {
    content: "";
    position: absolute;
    top: -50vh;
    right: -60vh;
    height: 150vh;
    width: 142vh;
    border-radius: 50%;
    background-color: rgb(230, 105, 105);
    z-index: -1;
  }

  &-intro {
    width: 90%;
    max-width: 1224px;
    height: 80vh;
    max-height: 366px;
    background-color: rgba($color: $red-light, $alpha: 0.2);
    border: 2px solid white;
    border-top-left-radius: 200px;
    border-bottom-right-radius: 200px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 25vh;
    position: relative;

    .x-factor {
      position: absolute;
      z-index: -1;
      top: -24%;
      left: 25%;
      width: 360px;
      height: 360px;

      &:before,
      &:after {
        position: absolute;
        left: 15px;
        content: " ";
        height: 180px;
        width: 40px;
        background-color: $red-misty;
      }

      &:before {
        transform: rotate(45deg);
      }

      &:after {
        transform: rotate(-45deg);
      }
    }

    .o-factor {
      position: absolute;
      z-index: -1;
      bottom: -35%;
      right: 25%;
      width: 140px;
      height: 140px;
      border: 40px solid $red-misty;
      border-radius: 50%;
    }
  }

  &-avatar {
    margin-left: 10%;
    animation: zoomOut 1s ease forwards;
    -webkit-animation: zoomOut 1s ease forwards;
    img {
      width: 280px;
      height: 280px;
      border: 10px solid white;
      border-radius: 50%;
      object-fit: cover;
      filter: grayscale(50%);
      -webkit-filter: grayscale(50%);
    }
  }

  &-greeting {
    margin-right: 10%;
    margin-left: 5%;

    h2 {
      font-size: 60px;
      font-weight: bold;
      margin-bottom: 20px;
      line-height: 1.2;

      span {
        color: $red-bean;
      }
    }

    p {
      font-family: "RobotoSlab";
      font-size: 20px;
      line-height: 1.6;
      margin-top: 8px;
      text-shadow: 1px 0 #fff, -1px 0 #fff, 0 1px #fff, 0 -1px #fff,
        1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
    }
  }
  &__hello {
    display: inline-block;
    font-weight: 700;
    font-size: 32px;
    margin-bottom: 8px;
    opacity: 0;
    animation: slideRight 1.2s ease forwards;
    -webkit-animation: slideRight 1.2s ease forwards;
  }
}

.writer {
  font-size: 44px;
  color: $red-bean;
  margin-bottom: 12px;
  font-weight: 900;
  text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff, 1px 1px #fff,
    -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
  &__cursor {
    color: $red-light;
    font-size: 48px;
  }
  display: inline-block;
  animation: slideTop 1.2s ease forwards;
  -webkit-animation: slideTop 1.2s ease forwards;
}

@media screen and (max-width: 375px) {
  .home {
    &::before {
      top: -26vh;
      left: -20vh;
      height: 50vh;
      width: 50vh;
    }

    &::after {
      top: unset;
      bottom: 5vh;
      right: -32vh;
      height: 46vh;
      width: 46vh;
    }

    &-intro {
      height: 78vh;
      width: 92%;
      margin-top: 12vh;
      flex-direction: column;
      justify-content: unset;
      border-top-left-radius: 160px;
      border-bottom-right-radius: 160px;
    }

    .x-factor {
      top: 0%;
      left: 10%;
      width: 120px;
      height: 120px;

      &:before,
      &:after {
        left: 15px;
        height: 100px;
        width: 25px;
      }
    }

    .o-factor {
      bottom: -2%;
      right: 4%;
      width: 80px;
      height: 80px;
      border-width: 24px;
    }

    &-avatar {
      border-width: 8px;
      width: 50vw;
      height: 50vw;
      margin-top: 20px;

      img {
        width: 100%;
        height: 100%;
      }
    }

    &-greeting {
      margin-right: 0;
      margin-left: 0;
      margin-top: 0;
      padding: 24px;

      h2 {
        font-size: 32px;
        margin-bottom: 20px;
      }

      p {
        font-size: 16px;
      }
    }
  }
}

@media screen and (min-width: 376px) and (max-width: 767px) {
  .home {
    &::before {
      top: -26vh;
      left: -20vh;
      height: 50vh;
      width: 50vh;
    }

    &::after {
      top: unset;
      bottom: 5vh;
      right: -32vh;
      height: 46vh;
      width: 46vh;
    }

    &-intro {
      height: 78vh;
      width: 92%;
      margin-top: 12vh;
      flex-direction: column;
      justify-content: unset;
      border-top-left-radius: 160px;
      border-bottom-right-radius: 160px;
    }

    .x-factor {
      top: 0%;
      left: 10%;
      width: 120px;
      height: 120px;

      &:before,
      &:after {
        left: 15px;
        height: 100px;
        width: 25px;
      }
    }

    .o-factor {
      bottom: -2%;
      right: 4%;
      width: 80px;
      height: 80px;
      border-width: 24px;
    }

    &-avatar {
      border-width: 8px;
      width: 50vw;
      height: 50vw;
      margin-top: 20px;

      img {
        width: 100%;
        height: 100%;
      }
    }

    &-greeting {
      margin-right: 0;
      margin-left: 0;
      margin-top: 12px;
      padding: 24px;

      h2 {
        font-size: 36px;
        margin-bottom: 20px;
      }

      p {
        font-size: 16px;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .home {
    &-intro {
      max-height: unset;
    }
  }
  .writer {
    font-size: 32px;
    margin-bottom: 8px;
    font-weight: 700;
    text-shadow: 1px 0 #fff, -1px 0 #fff, 0 1px #fff, 0 -1px #fff, 1px 1px #fff,
      -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
    &__cursor {
      color: $red-light;
      font-size: 36px;
    }
  }
}

@include animation-slide-right;
@include animation-slide-top;
@include animation-zoom-out;
