@import "assets/styles/common.scss";

.header {
  display: flex;
  justify-content: space-between;
  padding: 12px 10%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 0px 15px 10px -15px #111;
  z-index: 1025;
  &-logo {

  }
  nav {
    display: flex;
    justify-content: center;
    align-items: center;
    ul {
      display: flex;
      li {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 16px;
        cursor: pointer;
        font-weight: bold;
        + li {
          margin-left: 58px;
        }
        img.header-mode {
          width: 32px;
        }
      }
    }
  }
}