@import "./variables";

body {
  font-family: "RobotoSlab";
  /* width */
}
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $red-coral;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $red-bean;
}

.code-space,
.prettyprinted,
code {
  margin: 12px 0;
  padding: 8px 12px;
  background-color: #ededed !important;
  font-family: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New",
    monospace !important;

  .hljs-string,
  .tag {
    color: #008;
  }
  .typ,
  .script {
    color: #bd4147;
  }
  .kwd,
  .parameter {
    color: #4271ae;
  }
  .pln,
  .attr-name,
  .keyword {
    color: #718c00;
  }
  .pun,
  .hljs-params,
  .punctuation,
  .string,
  .operator {
    color: #212529;
  }
}

.size-18 {
  font-size: 18px;
}

.font-green {
  color: #718c00;
}

.font-red {
  color: #bd4147;
}

.font-blue {
  color: #4271ae;
}
.font-jean {
  color: #008;
}

.font-purple {
  color: #99f;
}

.font-yellow {
  color: #f5871f;
}
