@import "./variables";

body {
  font-family: "Roboto";
  /* width */
}
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: $red-coral; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $red-bean; 
}