@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Regular.ttf);
}

@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Bold.ttf);
  font-weight: bold;
}

@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Black.ttf);
  font-weight: 900;
}
@font-face {
  font-family: "RobotoSlab";
  src: url(../fonts/RobotoSlab-Regular.ttf);
  font-weight: 500;
}
@font-face {
  font-family: "RobotoSlab";
  src: url(../fonts/RobotoSlab-Bold.ttf);
  font-weight: bold;
}

@font-face {
  font-family: "RobotoSlab";
  src: url(../fonts/RobotoSlab-ExtraBold.ttf);
  font-weight: 800;
}
@font-face {
  font-family: "RobotoSlab";
  src: url(../fonts/RobotoSlab-Black.ttf);
  font-weight: 900;
}

// Colors
$red-coral: #c72f2f;
$red-light: #810000;
$red-bean: #fe2e2e;
$red-misty: #ffc1c1;

$gray-primary: #1b1717;
$gray-jungle: #1f2e35;
$gray-pastel: #30444e;
$gray-slate: #475e69;
$gray-mercury: #e4e9f3;
$gray-background: #f8fafe;

// Box Shadow
$box-shadow: 0 4px 8px rgba(0, 0, 0, 0.08);

// Mixins

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin prevent-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

@mixin animation-wheel {
  @keyframes wheel {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(359deg);
    }
  }
  animation: wheel 5s linear infinite;
}

@mixin animation-slide-right {
  @keyframes slideRight {
    from {
      transform: translateX(-100%);
      -webkit-transform: translateX(-100%);
      -moz-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
      -o-transform: translateX(-100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      -webkit-transform: translateX(0);
      -moz-transform: translateX(0);
      -ms-transform: translateX(0);
      -o-transform: translateX(0);
      opacity: 1;
    }
  }
}

@mixin animation-slide-top {
  @keyframes slideTop {
    from {
      transform: translateY(-100%);
      -webkit-transform: translateY(-100%);
      -moz-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
      -o-transform: translateY(-100%);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      -webkit-transform: translateY(0);
      -moz-transform: translateY(0);
      -ms-transform: translateY(0);
      -o-transform: translateY(0);
      opacity: 1;
    }
  }
}

@mixin animation-zoom-out {
  @keyframes zoomOut {
    from {
      opacity: 0;
      transform: scale(0);
      -webkit-transform: scale(0);
      -moz-transform: scale(0);
      -ms-transform: scale(0);
      -o-transform: scale(0);
    }
    to {
      opacity: 1;
      transform: scale(1);
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -ms-transform: scale(1);
      -o-transform: scale(1);
    }
  }
}
