@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Regular.ttf);
}

@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Bold.ttf);
  font-weight: bold;
}

@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Black.ttf);
  font-weight: 900;
}

// Colors
$red-coral: #EE4248;
$red-light: #FF464F;
$red-bean: #FF575F;
$red-misty: #FFE5E7;

$gray-primary: #222;
$gray-jungle: #1F2E35;
$gray-pastel: #30444E;
$gray-slate: #475E69;
$gray-mercury: #E4E9F3;



// Box Shadow
$box-shadow: 0 4px 8px rgba(0, 0, 0, 0.08);

// Mixins

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin prevent-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

@mixin animation-wheel {
  @keyframes wheel {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(359deg);
    }
  }
  animation: wheel 5s linear infinite;
}